<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Chat Doc{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container"{% block pageName %} id="{{ pageName }}"{% endblock %}>

            <div class="dropdown">
                <a href="#" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="icon-bars-button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('doctor_account') }}">My Account</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('doctor') }}">Triage List</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('doctor_patient_search') }}">Patient Search</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('doctor_trends') }}">Trends</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('doctor_login') }}">Logout</a></li>

                </ul>
            </div>

            {% block body %}{% endblock %}

        </div>
        {% block footer %}
            {#<footer class="footer">#}
                {#<div class="icon-bar">#}
                    {#class="active"#}
                    {#<a {{ activeMe }} href="{{ path('me') }}"><i class="fa fa-heartbeat"></i><span>Me</span></a>#}
                    {#<a {{ activeHealth }} href="{{ path('health') }}"><i class="fa fa-user-md"></i><span>Health</span></a>#}
                    {#<a {{ activeBuddy }} href="{{ path('buddy') }}"><i class="fa fa-thumbs-up"></i><span>Buddy</span></a>#}
                {#</div>#}
            {#</footer>#}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/desktop.js') }}"></script>
        {% endblock %}
    </body>
</html>
