<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        {% endblock %}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Chat Doc">

        <link rel="icon" href="{{ asset('favicon.ico') }}?v=2" />

        <link rel="icon" type="image/png" href="{{ asset('images/icons/apple-touch-icon-iphone.png') }}" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
        <link rel="apple-touch-startup-image" href="{{ asset('images/icons/launch.png') }}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
        <link rel="apple-touch-startup-image" href="{{ asset('images/icons/launch@2x.png') }}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
        <link rel="apple-touch-startup-image" href="{{ asset('images/icons/launch-568h@2x.png') }}"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">

        <title>{% block title %}Chat Doc{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/ios.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <script type="text/javascript">
                (function(document,navigator,standalone) {
                    // prevents links from apps from oppening in mobile safari
                    // this javascript must be the first script in your <head>
                    if ((standalone in navigator) && navigator[standalone]) {
                        var curnode, location=document.location, stop=/^(a|html)$/i;
                        document.addEventListener('click', function(e) {
                            curnode=e.target;
                            while (!(stop).test(curnode.nodeName)) {
                                curnode=curnode.parentNode;
                            }
                            // Condidions to do this only on links to your own app
                            // if you want all links, use if('href' in curnode) instead.
                            if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
                                e.preventDefault();
                                location.href = curnode.href;
                            }
                        },false);
                    }
                })(document,window.navigator,'standalone');
            </script>

        {% endblock %}
    </head>
    <body>
        <div class="container"{% block pageName %} id="{{ pageName }}"{% endblock %}>

            <div class="dropdown">
                <a href="#" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="icon-bars-button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('me') }}">Me</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('health') }}">Health</a></li>
                    {#<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('buddy') }}">Buddy Chat</a></li>#}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('consultation') }}">Ask the Doc</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('me_medical_history') }}">Medical History</a></li>

                </ul>
            </div>

        {% block body %}{% endblock %}

        </div>
        {% block footer %}
            <footer class="footer">
                <div class="icon-bar">
                    {#class="active"#}
                    <a {{ activeMe }} href="{{ path('me') }}"><i class="fa fa-heartbeat"></i><span>Me</span></a>
                    <a {{ activeHealth }} href="{{ path('health') }}"><i class="fa fa-user-md"></i><span>Health</span></a>
                    <a {{ activeConsultation }} href="{{ path('consultation') }}"><i class="fa fa-thumbs-up"></i><span>Ask Doc</span></a>
                </div>
                {#<div class="container">#}

                    {##}


                    {#<p class="text-muted">#}
                        {#<a class="btn btn-default" href="{{ path('me') }}">Me</a>#}
                        {#<a class="btn btn-default" href="{{ path('health') }}">Health</a>#}
                        {#<a class="btn btn-default" href="{{ path('buddy') }}">Buddy</a>#}
                    {#</p>#}
                {#</div>#}
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="{{ asset('build/footer.js') }}"></script>
        {% endblock %}
    </body>
</html>
