{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {#<link href="{{ asset('css/me.css') }}" rel="stylesheet" />#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('js/main.js') }}"></script>#}

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {#<script>#}
        {#var botmanUserId = 9999999;#}
        {#if (Cookie.get("botman_user_id") == null) {#}
            {#Cookie.set("botman_user_id", botmanUserId);#}
        {#}#}
    {#</script>#}

    <script type="text/babel">


        class MessageRow extends React.Component {

            constructor(props) {
                super(props);

                this.message = this.props.message;
            }

            scrollToBottom = () => {
//                this.imageEnd.scrollIntoView({ behavior: "smooth" });
            }

            componentDidMount() {
                this.scrollToBottom();
            }

            componentDidUpdate() {
                this.scrollToBottom();
            }


            render() {

                let image = null;
                if (this.message.url) {

                    var divStyle = {
                        height: '140px'
                    };

                    image = <div>
                        <img src={this.message.url} style={divStyle} />
                    </div>
                }

                return (
                        <div className="message">
                            {image}
                            <span className={this.message.sender}>
                            {this.message.text}
                        </span>
                        </div>
                );
            }
        }

        class ButtonRow extends React.Component {

            constructor(props) {
                super(props);

                this.onSendMessage = this.props.onSendMessage.bind(this);
                this.onUploadImage = this.props.onUploadImage.bind(this);
                this.buttonClicked = this.buttonClicked.bind(this);
                this.uploadClicked = this.uploadClicked.bind(this);

            }

            componentDidMount() {

                var d = new Date();
                var seconds = Math.round(d.getTime() / 1000);

                this.setState({resultMessage: {
                    text: 'Upload not yet loaded.',
                    id: seconds
                }});
            }

            buttonClicked(e) {

                var d = new Date();
                var seconds = Math.round(d.getTime() / 1000);

                var message = {
                    text: e.target.childNodes[0].data,
                    id: seconds + e.target.value,
                    value: e.target.value,
                    sender: 'me'
                };

                this.onSendMessage(message);
            }

            uploadClicked(e) {
                e.preventDefault();

                //var theFormData = new FormData($('#theForm'));

                var form = new FormData();
                form.append("upload", $("#theFile")[0].files[0]);
                form.append("user", 9999999);

                $.ajax({
                    url: "/upload", // Url to which the request is send
                    type: "POST",             // Type of request to be send, called as method
                    data: form, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    context: this,
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(result)   // A function to be called if request succeeds
                    {
                        var message = result.messages[0].text;
                        var url = result.messages[0].attachment.url;
                        this.onUploadImage(message, url);
                    }
                });
            }

            render() {
                const button = this.props.button;

                if (button.id == 'upload') {
                    return (

                            <div className="button">
                                <form action="upload" id="theForm" encType="multipart/form-data">
                                    <input type="file" id="theFile" name={button.id} />
                                    <button className="btn btn-default upload" onClick={this.uploadClicked}>Upload</button>
                                </form>
                            </div>
                    );
                } else {
                    return (
                            <div className="button">
                                <button className="btn btn-default" onClick={this.buttonClicked} value={button.id}>
                                    {button.text}
                                </button>
                            </div>
                    );
                }


            }
        }

        class MessagesWindow extends React.Component {

            scrollToBottom = () => {
                this.messagesEnd.scrollIntoView({ behavior: "smooth" });


                var height = $('.window').height();
                var inputHeight = $('.input').height();
                var containerHeight = $('.container').height();

                $('.window').height = containerHeight - inputHeight;

            }

            componentDidMount() {
                this.scrollToBottom();
            }

            componentDidUpdate() {
                this.scrollToBottom();
            }

            render() {
                const messages = [];

                this.props.messages.forEach((message) => {
                    messages.push(
                            <MessageRow
                                    message={message}
                                    key={message.id} />
                    );

                });

                return (
                        <div className="window">
                            {messages}

                            <div className="lastMessage" style={ { float:"right", clear: "both" } }
                                 ref={(el) => { this.messagesEnd = el; }}>
                            </div>
                        </div>
                );
            }
        }

        class ButtonsArea extends React.Component {

            constructor(props) {
                super(props);

                this.onSendMessage = this.props.onSendMessage.bind(this);
                this.onUploadImage = this.props.onUploadImage.bind(this);
                this.sendMessage = this.sendMessage.bind(this);
                this.uploadImage = this.uploadImage.bind(this);
                this.buttons = [];
            }

            uploadImage(message, url) {
                this.onUploadImage(message, url);
            }

            sendMessage(message) {
                this.onSendMessage(message);
            }

            render() {


                this.buttons = [];

                this.props.buttons.forEach((button) => {

                    this.buttons.push(
                            <ButtonRow
                                    button={button}
                                    key={button.id}
                                    onSendMessage={this.sendMessage}
                                    onUploadImage={this.uploadImage}
                            />
                    );
                });

                return (
                        <div className="buttons">
                            {this.buttons}
                        </div>
                )
            }
        }

        class InputArea extends React.Component {

            constructor(props) {
                super(props);

                this.onHandleKeyPress = this.props.onHandleKeyPress.bind(this);
                this.handleKeyPress = this.handleKeyPress.bind(this);

                this.textVal = this.props.textVal;
            }

            handleKeyPress(e) {

                this.onHandleKeyPress(e);


            }

            render() {
                return (
                        <div className="input">
                            <input type="text" onKeyPress={this.handleKeyPress} placeholder="Type a message..." />
                        </div>
                );
            }
        }

        class ChatbotWindow extends React.Component {


            constructor(props) {
                super(props);

                this.sendMessage = this.sendMessage.bind(this);
                this.uploadImage = this.uploadImage.bind(this);
                this.handleKeyPress = this.handleKeyPress.bind(this);

                this.messages = [];
                this.textVal = '';
            }

            componentDidMount() {

                var error = null;

                this.setState({isLoaded: false, messages: [], buttons: [], textVal: ''});

                //var $this = this;

                this.sendMessage({
                    text: 'hi',
                    id: 'hi',
                    value: 'hi',
                    sender: 'me'
                });

            }

            handleKeyPress(e) {
                if (e.key === 'Enter') {
//                    console.log("key pressed enter");

                    var valueToSubmit = e.target.value;

                    e.target.value = '';

                    var message = {
                        value: valueToSubmit
                    };

                    this.sendMessage(message);
                }
            }

            uploadImage(message, url) {

                var d = new Date();
                var seconds1 = Math.round(d.getTime() / 1000);
                var seconds2 = seconds1+1;

                this.messages.push({
                    text: 'File uploaded.',
                    id: seconds1,
                    sender: 'me'
                });

                this.messages.push({
                    text: message,
                    id: seconds2+message,
                    sender: 'bot',
                    url: url
                });



                this.setState({
                    messages: this.messages,
                    buttons: []
                });
            }

            sendMessage(message) {

                this.messages.push(message);


                axios.post("https://robodoc.co/bot", {
                    driver: 'web',
                    userId: 9999999,
                    message: message.value
                })
                    .then(result => {


                        var d = new Date();
                        var seconds = Math.round(d.getTime() / 1000);

                        var count = 0;
                        var buttons = [];

                        while (count < result.data.messages.length) {

                            this.messages.push({
                                text: result.data.messages[count].text,
                                id: seconds + count,
                                sender: 'bot'
                            });

                            if (result.data.messages[count].actions != undefined) {
                                result.data.messages[count].actions.forEach(function(element) {
                                    buttons.push({
                                        text: element.name,
                                        id: element.value + "-" + seconds + 1
                                    })
                                });
                            }

                            if ('attachment' in result.data.messages[count]) {
                                buttons.push({
                                    text: 'Upload',
                                    id: 'upload'
                                })
                            }

                            count = count + 1;
                        }



                        this.setState({
                            isLoaded: true,
                            messages: this.messages,
                            buttons: buttons
                        });
                    })
                    .catch(error => {
                        this.setState({
                            isLoaded: true,
                            error,
                            buttons: []
                        });
                    });
            }


            render() {
                const error = null;
                const isLoaded = this.state;
                if (error != null) {
                    return <div>Error: {error.message}</div>;
                } else if (!isLoaded) {
                    return <div>Loading...</div>;
                } else {

                    return (
                            <div className="chatbot">
                                <MessagesWindow
                                        messages={this.state.messages} />
                                <ButtonsArea
                                        buttons={this.state.buttons}
                                        onSendMessage={this.sendMessage}
                                        onUploadImage={this.uploadImage} />
                                <InputArea
                                        textVal={this.state.textVal}
                                        onHandleKeyPress={this.handleKeyPress} />
                            </div>
                    );
                }
            }
        }

        ReactDOM.render(
                <ChatbotWindow />,
            document.getElementById('root')
        );

    </script>

{% endblock %}

{% block body %}


    <h3>Ask the Doc</h3>

    {#<div class="chatbot">#}
        {#<span>Chat</span>#}
        {#<div class="window">#}
            {#<div class="message">#}
                {#<span class="bot">#}
                    {#Hi a test#}
                {#</span>#}
            {#</div>#}

            {#<div class="message">#}
                {#<span class="me">#}
                    {#This is me#}
                {#</span>#}
            {#</div>#}
        {#</div>#}
        {#<div class="input">#}
            {#<input type="text" />#}
        {#</div>#}
    {#</div>#}

    <div id="root"></div>




{% endblock %}