
$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// set if you're also including font-awesome
// $fa-font-path: "~font-awesome/fonts";

//http://symfony.com/doc/current/frontend/encore/bootstrap.html
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.dropdown {
  float: right;
  margin-top: 15px;

  .dropdown-toggle .icon-bars-button{
    display: inline-block;
    vertical-align:middle;
  }
  .dropdown-toggle .icon-bar {
    margin-bottom:2px;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
  }
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  height: 65px;

  .fa {
    display: inline-block;
    font: normal normal normal 9px/1 FontAwesome;
    font-size: 19pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }

  a {
    float: left;
    width: 33%;
    text-align: center;
    padding: 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 29px;
    height: 100%;

    span {
      float: left;
      width: 100%;
      font-size: 12pt;
      padding: 0;
      margin: -5px 0;
    }
  }

  a:hover {
    background-color: #000;
  }

  .active {
    background-color: #4CAF50 !important;
  }
}
