
.modal {
  .uploadImageLarge {
    width: 826px;
  }

  .deliveryLabel {
    width: 100px;
  }

  #droneDeliveryButton {
    margin-left: 100px;
    margin-top: 40px;
    height: 50px;
    width: 156px;
  }

  .deliveryMap {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin-left: 331px;
    margin-top: -154px;
    margin-bottom: 20px;
  }
}

.consultation {

  border-radius: 20px;
  border: solid black 1px;
  padding: 20px;
  margin-bottom: 20px;

  .panel-body {

    .taskDescription {
      //float: left;
    }

    .doctorActionButtons {

      width: 200px;
      margin-left: 30px;
      float: left;

      button {
        width: 160px;
        margin-bottom: 7px;
        margin-top: 7px;
      }
    }

    .expand {
      margin-left: 24px;
      /* position: absolute; */
      margin-top: 60px;
      width: 74px;
      float: left;

      i {
        font-size: 32pt;
        width: 100%;
        text-align: center;
      }
      span {
        font-size: 14px;
        text-align: center;
      }
    }

    .uploadImage {
      margin-top: -15px;
      width: 291px;
      float: right;
      margin-right: 97px;
    }

    .patientSearch {
      position: relative;
      top: 255px;
      left: 128px;
    }


  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 860px !important;
  }
}
