
#observationForm {
  height: 355px;

  label[for="stressSlider"] {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 12px;
  }

  hr {
    float: left;
    width: 100%;
    margin: 5px 0 12px 0;
    padding: 0;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: orange; /* Orange background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider.high::-webkit-slider-thumb {
    background: red;
  }

  .slider.middle::-webkit-slider-thumb {
    background: orange;
  }

  .slider.low::-webkit-slider-thumb {
    background: green;
  }



  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #submitObservation {
    width: 100%;
  }

}

.mapAndActivity {
  position: relative;
  height: 250px;

  #map {
    height: 250px;
  }

  #activitySteps {
    position: relative;
    margin-left: 288px;
    margin-top: -224px;
    font-size: 20pt;
    color: red;
    float: right;
    margin-right: 18px;
    width: 121px;
    text-align: right;

    #stepDesc {
      font-size: 10pt;
    }
  }
}



.twinButton {
  width: 147px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 21px;
  //height: 52px;
  //white-space: normal;
}

#beginMonitoringButton {
  float:left;
  margin-left: 12px;
  width: 320px;
  margin-top: 20px;
  margin-bottom: 21px;
}

#medicalHelpButton {
  float:right;
  margin-right: 12px;
}


