
.container {
  overflow: scroll;

  h2 {
    margin-top: 15px;
  }
}


.chatbot {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 5px;
  .window {
    height: 355px;
    border-top: 1px solid grey;
    overflow: scroll;

    .message {
      width: 100%;

      span {
        width: 80%;
        padding: 5px 10px;
        border-radius: 19px;
        margin: 5px 10px 5px 10px;
      }

      .bot {
        float: right;
        background-color: #0084ff;
        color: #fff;
      }
      .me {
        background-color: #f1eded;
        float: left;
      }
      img {
        //float: right;
        margin: 3px 13px 10px;
        height: 140px;
      }
    }
  }
  .buttons {
    float: left;

    .button {
      margin: 2px;
      float: left;

      .btn {
        margin: 3px;
        float: left;
      }

      &.upload {
        float: right;
      }

      input[type="file"] {
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        margin: 3px;
        width: 72%;
        float: left;
      }
    }


  }
  .input {
    border-top: solid grey 1px;
    input {
      padding: 10px;
      width: 100%;
    }
  }
}
