#me {
  .profilePhoto {
    margin-top: 30px;
    width: 150px;
    border-radius: 20px;
    webkit-border-radius: 20px;
    overflow: hidden;
  }

  #medicalHistoryButton {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .twinButton {
    width: 134px;
    position: relative;
    margin-top: 24px;
  }
  //
  //#medicalHistoryButton {
  //  float:left;
  //  margin-left: 30px;
  //}

  #newConsultationButton {
    float:right;
    margin-right: 30px;
  }


}