
.modal {
  .uploadImageLarge {
    width: 826px;
  }
}

.patient {

  border-radius: 20px;
  border: solid black 1px;
  padding: 20px;
  margin-bottom: 20px;

  .panel-body {

    .buddyDetails {
      //float: left;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 860px !important;
  }
}
