{% extends 'base-desktop.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/account.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/account.js') }}"></script>

{% endblock %}

{% block body %}

    <h2>My Account</h2>


{% endblock %}
