{% extends 'base-desktop.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/doctor.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/doctor.js') }}"></script>

    <script>

        $(document).ready(function() {

            $('.resolveTriage').click(function(e) {

                var parent = $(this).parent().parent().parent().parent().parent().parent().parent().parent();

                parent.animate({'height': '0px'}, 1000, function(e) { parent.hide() });


                var consultationId = $(this).data('cid');
                var formData = 'consultation_id='+consultationId;

                $.ajax({
                    url: "{{ path('doctor_resolve_triage') }}", // Url to which the request is send
                    type: "POST",             // Type of request to be send, called as method
                    data: formData, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    context: this,
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(result)   // A function to be called if request succeeds
                    {
                        if (result.success == false) {
                            alert("There was an error resolving this consultation. Please refresh and try again.");
                        }
                    }
                });

            });


            {% for consultation in consultations %}

                $('#modalDelivery{{ consultation.id }}').on('shown.bs.modal', function(e) {
                    initMap{{ consultation.id }}();
                });

            {#$('#modalDelivery{{ consultation.id }}').on('hide.bs.modal', function(e) {#}
                {#$('#droneDeployedNote{{ consultation.id }}').show();#}
                {#$('#sendItem{{ consultation.id }}').text('Prescription sent');#}
            {#});#}

            {% endfor %}


            $('.droneDeliveryButton').click(function(e) {
                var form = $(this).parent();
                //form = form[0];
                var formData = form.serialize();

                $.ajax({
                    url: "{{ path('doctor_deploy_drone') }}", // Url to which the request is send
                    type: "POST",             // Type of request to be send, called as method
                    data: formData, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    context: this,
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(result)   // A function to be called if request succeeds
                    {
                        var success = result.success;
                        var consultationId = form.find('.consultationId').val();

                        if (success == false) {
                            alert("There was an error deploying, please try again");

                            $('#droneDeployedNote' + consultationId + 'Failed').show();
                            $('#droneDeployedNote' + consultationId).hide();
                            $('#sendItem' + consultationId).text('Send prescription');
                        } else {
                            $('#droneDeployedNote' + consultationId).show();
                            $('#droneDeployedNote' + consultationId + 'Failed').hide();
                            $('#sendItem' + consultationId).text('Prescription sent');
                        }
                    }
                });

            });

        });

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3FrMp1IajzioRKgck6hZtvtGD2C7LN-A">
    </script>


{% endblock %}

{% block body %}

    <h2>Triage List</h2>

    {% for consultation in consultations %}
        {% include 'Doctor/index/_consultation.html.twig' with {'consultation': consultation} %}
    {% endfor %}

{% endblock %}
