{% extends 'base-desktop.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <h2>Doctor Login</h2>



{% endblock %}
