{% extends 'base-desktop.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/patientSearch.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/patientSearch.js') }}"></script>

{% endblock %}

{% block body %}

    <h2>Patient Search</h2>

    <form class="form-inline" style="float: right; margin-right: 100px; margin-top: -48px;" method="get">
        <div class="form-group">
            <label for="searchInput" style="margin-right: 11px;">Search</label>
            <input type="text" name="q" class="form-control" placeholder="Search by last name" id="searchInput" value="{{ q }}" />
        </div>
        <input type="submit" class="btn btn-default" value="Search" />
    </form>

    {% for patient in patients %}
        {% include 'Doctor/patientSearch/_patient.html.twig' with {'patient': patient} %}
    {% endfor %}

{% endblock %}
