{% extends 'base-desktop.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/doctorTrends.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/doctorTrends.js') }}"></script>

{% endblock %}

{% block body %}

    <h2>Trends</h2>

    <h3>Sickness trends</h3>

    <table class="table table-striped">
        <thead>
            <td>Problem (diagnosis)</td>
            <td>Average Age</td>
            <td>Sample Size</td>
            <td>Trend Weighting (per year)</td>
            <td>Drill down</td>
        </thead>
        <tr>
            <td>Diabetes</td>
            <td>30</td>
            <td>523</td>
            <td>+15</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Obesity</td>
            <td>38</td>
            <td>2851</td>
            <td>+5</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Scabies</td>
            <td>61</td>
            <td>820</td>
            <td>-20</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Warts</td>
            <td>18</td>
            <td>12520</td>
            <td>+2</td>
            <td><a href="#">Details</a></td>
        </tr>
    </table>

    <h3>Health trends</h3>

    <table class="table table-striped">
        <thead>
            <td>Fitness level</td>
            <td>Average Age</td>
            <td>Sample Size</td>
            <td>Trend Weighting (per year)</td>
            <td>Drill down</td>
        </thead>
        <tr>
            <td>Athlete</td>
            <td>27</td>
            <td>523</td>
            <td>+15</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Super Fit</td>
            <td>30</td>
            <td>2851</td>
            <td>+5</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Moderately Fit</td>
            <td>45</td>
            <td>60248</td>
            <td>+2</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Average fitness</td>
            <td>55</td>
            <td>40823</td>
            <td>-4</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Unfit</td>
            <td>52</td>
            <td>45823</td>
            <td>-25</td>
            <td><a href="#">Details</a></td>
        </tr>
        <tr>
            <td>Dangerously Unfit</td>
            <td>59</td>
            <td>28493</td>
            <td>-10</td>
            <td><a href="#">Details</a></td>
        </tr>
    </table>



{% endblock %}
