

{#{% include 'Doctor/_modal.html.twig' with {'consultation': consultation } %}#}

<div class="patient">

    <div class="row">
        <div class="col col-md-3 summary">
            <h4>{{ patient.firstName }}</h4>
            <div class="lastLogin">{{ patient.lastLoginAt|date }}</div>
            <div class="location">{{ patient.city }}, {{ patient.country }}</div>
        </div>
        <div class="col col-md-9">

            <div id="accordion{{ patient.id }}" class="panel-group">
                {#<div class="panel panel-default">#}
                    {#<div class="panel-heading">#}
                        {#<h4 class="panel-title">#}
                            {#<a data-toggle="collapse" data-parent="#accordion{{ patient.id }}" href="#collapseOne{{ patient.id }}">Buddy details - Joe Smith</a>#}
                        {#</h4>#}
                    {#</div>#}
                    {#<div id="collapseOne{{ patient.id }}" class="panel-collapse collapse in">#}
                        {#<div class="panel-body">#}


                            {#<div class="buddyDetails">#}
                                {#Communication seems positive and frequent.#}
                            {#</div>#}

                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{ patient.id }}" href="#collapseTwo{{ patient.id }}">Fitness metrics - {% if patient.id == 1 %}{{ (patient.totalMetersRun/1000)|number_format(0) }}{% else %}{{ random(22) }}{% endif %}km in last 12 months</a>
                        </h4>
                    </div>
                    <div id="collapseTwo{{ patient.id }}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>The patient has run {% if patient.id == 1 %}{{ (patient.totalMetersRun/1000)|number_format(2) }}{% else %}{{ random(22) }}{% endif %}km over the last 12 months, with {{ random(9) }}km being done in the last month.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{ patient.id }}" href="#collapseThree{{ patient.id }}">Health Checkups - {% if patient.id == 1 %}1{% else %}{{ random(5) }}{% endif %}</a>
                        </h4>
                    </div>
                    <div id="collapseThree{{ patient.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>The patient has had good health over the last year with {% if patient.id == 1 %}1{% else %}{{ random(5) }}{% endif %} admissions and {{ random(222) }} observations of healthy living.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{ patient.id }}" href="#collapseFour{{ patient.id }}">Booked visits to hospital - {% if patient.id == 1 %}1{% else %}{{ random(5) }}{% endif %}</a>
                        </h4>
                    </div>
                    <div id="collapseFour{{ patient.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>The last booked hospital visit was {{ random(+'now'|date('U'))|date('d M Y') }}. This was the only hospital visit on record.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>