<script>
    var ctx = document.getElementById("{{ canvasName }}").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% set count = 1 %}
                {% for observation in health1 %}
                    "{{ count ~ " " ~ month }}",
                    {% set count = count + 1 %}
                {% endfor %}
            ],
            datasets: [{
                label: '{{ label1 }}',
                data: [
                    {% for observation in health1 %}
                        {% if observation != null %}
                            '{{ observation }}',
                        {% elseif observation is not null %}
                            '0',
                        {% else %}
                            null,
                        {% endif %}
                    {% endfor %}
                ],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                lineTension: 0,
                fill: false,
                spanGaps: true
            },
            {
                label: '{{ label2 }}',
                data: [
                    {% for observation in health2 %}
                        {% if observation %}
                            {{ observation }},
                        {% else %}
                            null,
                        {% endif %}
                    {% endfor %}
                ],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(0, 255, 132, 1)'
                ],
                borderColor: [
                    'rgba(0, 255, 132, 1)'
                ],
                lineTension: 0,
                fill: false,
                spanGaps: true
            }
            ,
            {
                label: '{{ label3|raw }}',
                data: [
                    {% for observation in health3 %}
                    {% if observation %}
                    {{ observation }},
                    {% else %}
                    null,
                    {% endif %}
                    {% endfor %}
                ],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(0, 132, 255, 1)'
                ],
                borderColor: [
                    'rgba(0, 132, 255, 1)'
                ],
                lineTension: 0,
                fill: false,
                spanGaps: true
            },
            {
                label: '{{ label4 }}',
                data: [
                    {% for observation in health4 %}
                        {% if observation %}
                        {{ observation }},
                        {% else %}
                            null,
                        {% endif %}
                    {% endfor %}
                ],
                borderWidth: 1,
                backgroundColor: [
                    'rgba(255, 0, 132, 1)'
                ],
                borderColor: [
                    'rgba(132, 0, 255, 1)'
                ],
                lineTension: 0,
                fill: false,
                spanGaps: true
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
