
<script>
    var ctx = document.getElementById("{{ canvasName }}").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% set count = 8 %}
                {% for observation in observations1 %}
                {% if observation %}
                "{{ observation.effectiveDateTime|date('j-M') }}",
                {% else %}
                "{{ count }}-Oct",
                {% endif %}
                {% set count = count+1 %}
                {% endfor %}
            ],
            datasets: [{
                label: '{{ label1 }}',
                data: [
                    {% for observation in observations1 %}
                    {% if observation %}
                    {{ observation.valueQuantity }},
                    {% else %}
                    null,
                    {% endif %}
                    {% endfor %}
                ],
                borderWidth: 3,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                lineTension: 0,
                fill: false,
                spanGaps: true
            },
                {
                    label: '{{ label2 }}',
                    data: [
                        {% for observation in observations2 %}
                        {% if observation %}
                        {{ observation.valueQuantity }},
                        {% else %}
                        null,
                        {% endif %}
                        {% endfor %}
                    ],
                    borderWidth: 3,
                    backgroundColor: [
                        'rgba(0, 255, 132, 1)'
                    ],
                    borderColor: [
                        'rgba(0, 255, 132, 1)'
                    ],
                    lineTension: 0,
                    fill: false,
                    spanGaps: true
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>
