{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/me.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/me.js') }}"></script>
{% endblock %}

{% block body %}

    <h2>Chat Doc</h2>

    <h3>You are logged in as {{ account.firstName }}</h3>

    <img class="profilePhoto center-block" src="{{ asset('images/me.jpg') }}" />

    {#<a id="healthTrackerButton" class="btn btn-default" href="{{ path('health') }}">Health tracker</a>#}
    <a id="medicalHistoryButton" class="btn btn-default" href="{{ path('me_medical_history') }}">Medical history</a>
    {#<a id="newConsultationButton" class="btn btn-default twinButton" href="{{ path('consultation') }}">New Consultation</a>#}

    <p style="margin-top:30px; font-size: 14pt; text-align: justify">Welcome to Chat Doc where you can hold virtual GP consultations for non-urgent care. Share daily health
        and wellness data with your doctor and view your medical record to better manage your health between appointments.</p>
{% endblock %}
