{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/medicalHistory.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/medicalHistory.js') }}"></script>

    {% include 'Me/_observationGraph.html.twig' with {
    'canvasName': 'observationsBloodPressure',
    'observations1': observationsBloodPressureDiastolic,
    'observations2': observationsBloodPressureSystolic,
    'label1': 'Blood Pressure (Diastolic) (mm/Hg)',
    'label2': 'Blood Pressure (Systolic) (mm/Hg)'
    } %}

    {% include 'Me/_observationGraph.html.twig' with {
    'canvasName': 'observationsCholesterol',
    'observations1': observationsCholesterolLdl,
    'observations2': observationsCholesterolHdl,
    'label1': 'Cholesterol (LDL) (mg/dl)',
    'label2': 'Cholesterol (HDL) (mg/dl)'
    } %}

    {% include 'Me/_healthGraph.html.twig' with {
    'canvasName': 'health',
    'health1': healthStress,
    'health2': healthSleep,
    'health3': healthFruitAndVeg,
    'health4': healthWater,
    'label1': 'Stress',
    'label2': 'Hours sleep',
    'label3': 'Fruit & veg',
    'label4': 'Glasses of water',
    'month': month
    } %}

{% endblock %}

{% block body %}

    <h3>Medical History</h3>

    {% if error %}
        <p class="bg-danger">Error retreiving the latest results. Please try later.</p>
    {% endif %}
    {#{% for observation in observationsBloodPressureDiastolic %}#}
        {#<div class="row">#}
            {#<div class="col-md-6">#}
                {#{{ observation.valueQuantity ~ ' ' ~ observation.valueUnit }}#}
            {#</div>#}
            {#<div class="col-md-6">#}
                {#{{ observation.effectiveDateTime|date }}#}
            {#</div>#}
        {#</div>#}
    {#{% endfor %}#}

    <canvas id="observationsBloodPressure"></canvas>

    <canvas id="observationsCholesterol"></canvas>

    <canvas id="health"></canvas>

    <a class="btn btn-default" href="{{ path('me_observe_login') }}">Refresh</a>
    <p style="margin-top: 15px">Refreshing your history pulls the latest data from your digital health record using FHIR protocols. You may need your login & password for this.</p>

{% endblock %}