{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>

        var query = location.href.split('#');
        var tokenInput = $('#token');
        if (query.length == 2) {
            var parts = query[1].split('&');
            if (parts.length == 2) {

                var tokens = parts[0].split('=');
                if (tokens.length == 2) {
                    var token = tokens[1];

                    tokenInput.val(token);
                    //document.cookie = "access_token=" + token;

//                        window.setInterval(function() {
//                            window.location.reload();
//                        }, 5000);
                }
            }
        }

    </script>
{% endblock %}

{% block body %}

<h3>FHIR Token Retreival</h3>

<form  action="{{ path('me_observe_redirect') }}" method="post">

    <input class="form-control" type="text" id="token" name="token" />
    <input type="submit" class="btn btn-primary" value="Save FHIR Token">
</form>

{% endblock %}