<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    {% endblock %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Chat Doc">

    <title>{% block title %}Chat Doc{% endblock %}</title>

    <script>

        {% if hasToken == false %}
            var query = location.href.split('#');

            if (query.length == 2) {
                var parts = query[1].split('&');
                if (parts.length == 2) {

                    var tokens = parts[0].split('=');
                    if (tokens.length == 2) {
                        var token = tokens[1];

                        document.cookie = "access_token=" + token;

//                        window.setInterval(function() {
//                            window.location.reload();
//                        }, 5000);
                    }
                }
            }


        {% endif %}

    </script>
</head>
<body>
    {% if hasToken %}
        <h1>Token is {{ token }}</h1>
    {% else %}
        Redirecting...

        <a class="btn btn-primary center-block" href="{{ path('me_observe_redirect') }}">Retreive Token</a>

    {% endif %}
</body>