Hi this is Chat Doc,
<p>
A new prescription is required. Attached are the details for upload.
<p>
Please send "{{ medication }}"
{# Papulosquamous rash ointment #}
<p>
Please deploy to the patient ASAP.
<p>
When ready to deploy, please communicate with {{ account.fullName }}, the patient, via txt or phone on {{ account.mobile }}
<p>
You can use this attachment with the flight console found at: https://flylitchi.com/hub
<p>
Regards,
Chat Doc