{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/health.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/health.js') }}"></script>

    <script>

        $(document).ready(function() {

            var isMonitoringOn = false;
            $('#beginMonitoringButton').click(function() {
                if (isMonitoringOn) {
                    $(this).addClass('btn-default');
                    $(this).removeClass('btn-primary');
                    $(this).text('Start Gyro Pro');
                    isMonitoringOn = false;

                    var url = '{{ path('running_observation') }}';

                    var metersRun = $('#activity').text();

                    var accountId = $(this).data('aid');

                    var steps = $('#activity').text();
                    var jsonData = {
                        stepCount: steps,
                        metersRun: metersRun,
                        accountId: accountId
                    };

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: jsonData,
                        success: function(data) {
                            if (data.success == false) {
                                alert(data.message);
                            } else {
                                $('#activity').text("0");
                            }
                        }
                    });
                } else {
                    $(this).removeClass('btn-default');
                    $(this).addClass('btn-primary');
                    $(this).text('Stop Gyro Pro');
                    isMonitoringOn = true;
                }
            });

            var countX = 0.1;
            var countYPos = 0.1;
            var countYNeg = 0.1;
            var countZ = 0.1;

            window.ondevicemotion = function(event) {
                var x = event.acceleration.x;
                var y = event.acceleration.y;
                var z = event.acceleration.z;

                var yNeg = 0;
                var yPos = 0;

                var activity = document.getElementById('activity');

                if (x < 0) {
                    x = x * -1;
                }
                if (y < 0) {
                    yNeg = y * -1;
                }

                if (y > 0) {
                    yPos = y;
                }

                if (z < 0) {
                    z = z * -1;
                }

                countX = parseFloat(countX) + parseFloat(x);
                countX = countX.toFixed(5);

                if ((countX > 5000)) { //~ 2 steps
                    //activity.innerHTML = activity.innerHTML + "x ";
                    countX = 0;
                }
//
                countYPos = parseFloat(countYPos) + parseFloat(yPos);
                countYPos = countYPos.toFixed(5);
                countYNeg = parseFloat(countYNeg) + parseFloat(yNeg);
                countYNeg = countYNeg.toFixed(5);

                if ((countYNeg > 70) && (countYPos > 70)) { //~ 20 steps
                    //activity.innerHTML = activity.innerHTML + "y ";

                    var steps = parseInt(activity.innerHTML);

                    if (isMonitoringOn) {
                        activity.innerHTML = steps + 1;
                    }

                    countYPos = 0;
                    countYNeg = 0;
                }

                countZ = parseFloat(countZ) + parseFloat(z);
                countZ = countZ.toFixed(5);

                if ((countZ > 5000)) { //~ 2 steps
                    //activity.innerHTML = activity.innerHTML + "z ";
                    countZ = 0;
                }
            }
        });


        $(function() {

            $("#observationForm").submit(function(e) {

                var url = '{{ path('health_observation') }}';

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#observationForm").serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        //alert(data); // show response from the php script.

//                        if (data.success == false) {
//                            alert(data.message);
//                        } else {
                            $('#observationForm').animate({'height': '0px'}, 1000, function(e) { $('#observationForm').hide() });
//                        }


                    }
                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
            });

        });

        function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map, infoWindow, watchId, oldPos;
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });

            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('You are here');
                    infoWindow.open(map);
                    map.setCenter(pos);

                    oldPos = pos;
                    watchId = navigator.geolocation.watchPosition(scrollMap);

                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

            function scrollMap(pos) {

                var position = {
                    lat: pos.coords.latitude,
                    lng: pos.coords.longitude
                };

                var flightPlanCoordinates = [
                    oldPos,
                    position
                ];
                var flightPath = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                flightPath.setMap(map);

                infoWindow.setPosition(position);
                //infoWindow.setContent('Location changed.');
                infoWindow.open(map);
                map.setCenter(position);
                // Scroll the map to center position

                oldPos = position;
            }

            function finishRun() {
                // Unregister when the user clicks a button
                navigator.geolocation.clearWatch(watchId);
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3FrMp1IajzioRKgck6hZtvtGD2C7LN-A&callback=initMap">
    </script>

{% endblock %}

{% block body %}

    <h3>Daily Health Tracker</h3>

    <form id="observationForm">
        <hr />
        <div class="form-group" style="margin-bottom: 0">
            <div style="margin-left: 15px; margin-right: 15px">
                <label for="stressSlider" class="col-sm-3 control-label">Stress compared to yesterday</label>
                <div class="row">
                    <div class="col-sm-7">
                        <input type="range" min="-1" max="1" value="0" class="slider" id="stressSlider" name="stress_raise">
                        <div class="row">
                            <div class="col-xs-4">Better</div>
                            <div class="col-xs-3" style="margin-left: 25px">Same</div>
                            <div class="col-xs-2" style="margin-right: 12px; float: right;">Worse</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="hoursSleep" class="col-xs-7 control-label">How many hours sleep did you get:</label>
            <div class="col-xs-5">
                <select id="hoursSleep" class="form-control" name="hours_sleep">
                    <option value="0">No sleep</option>
                    <option value="0">1 hour</option>
                    <option value="2">2 hours</option>
                    <option value="3">3 hours</option>
                    <option value="4">4 hours</option>
                    <option value="5">5 hours</option>
                    <option value="6">6 hours</option>
                    <option value="7">7 hours</option>
                    <option value="8" selected>8 hours</option>
                    <option value="9">9 hours</option>
                    <option value="10">10 hours</option>
                    <option value="11">11 hours</option>
                    <option value="12">12 hours</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="fruitOrVegEaten" class="col-xs-7 control-label">How many fruit or veg have you eaten:</label>
            <div class="col-xs-5">
                <select id="fruitOrVegEaten" class="form-control" name="fruit_or_veg_eaten">
                    <option value="0">None</option>
                    <option value="2">1 fruit/veg</option>
                    <option value="2">2 fruit/veg</option>
                    <option value="3">3 fruit/veg</option>
                    <option value="4">4 fruit/veg</option>
                    <option value="5" selected>5 fruit/veg</option>
                    <option value="6">6 fruit/veg</option>
                    <option value="7">7 fruit/veg</option>
                    <option value="8">8 fruit/veg</option>
                    <option value="9">9 fruit/veg</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="waterDrunk" class="col-xs-7 control-label">How much water have you drunk:</label>
            <div class="col-xs-5">
                <select id="waterDrunk" class="form-control" name="water_drunk">
                    <option value="0">None</option>
                    <option value="2">1 glass</option>
                    <option value="2">2 glasses</option>
                    <option value="3" selected>3 glasses</option>
                    <option value="4">4 glasses</option>
                    <option value="5">5 glasses</option>
                    <option value="6">6 glasses</option>
                    <option value="7">7 glasses</option>
                    <option value="8">8 glasses</option>
                    <option value="9">9 glasses</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-xs-offset-7 col-xs-5">
                <button id="submitObservation" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <hr style="margin-top: 12px" />

    </form>

    <div class="mapAndActivity">
        <div id="map"></div>
        <div id="activitySteps">
            <span id="activity">0</span> <span id="stepDesc"> Steps</span>
        </div>

    </div>


    <a id="beginMonitoringButton" data-aid="{{ accountId }}" class="btn btn-default" href="#start">Start Gyro Pro</a>
    {#<a id="medicalHelpButton" class="btn btn-default twinButton" href="{{ path('buddy') }}">Buddy Up</a>#}



{% endblock %}
