{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/buddy.js') }}"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>#}

    <script>
        var socket = io.connect('https://robodoc.co:3000', {secure: true});
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
    </script>

{% endblock %}

{% block body %}

    <h3>Buddy Chat</h3>




{% endblock %}
