

{% include 'Doctor/index/_modal.html.twig' with {'consultation': consultation } %}
{% include 'Doctor/index/_modalDelivery.html.twig' with {'consultation': consultation } %}


<div class="consultation">

    <div class="row">
        <div class="col col-md-3 summary">
            <h4>{{ consultation.account.fullName }}</h4>
            <div class="lastLogin">{{ consultation.account.lastLoginAt|date }}</div>
            <div class="location">{{ consultation.account.city }}, {{ consultation.account.country }}</div>
        </div>
        <div class="col col-md-9">

            <div id="accordion{{ consultation.id }}" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{ consultation.id }}" href="#collapseOne{{ consultation.id }}">Photo submitted ({{ random(6) }} minutes ago)</a>
                        </h4>
                    </div>
                    <div id="collapseOne{{ consultation.id }}" class="panel-collapse collapse in" style="min-height: 337px;">
                        <div class="panel-body">

                            <div class="taskDescription">
                                Please observe this photo of this condition
                            </div>

                            <div class="doctorActionButtons">
                                <button class="btn btn-default admit">Refer to hospital</button>
                                <button class="btn btn-default send" id="sendItem{{ consultation.id }}" data-toggle="modal" data-target="#modalDelivery{{ consultation.id }}">Send prescription</button>
                                <button class="btn btn-default ask">Begin chatting</button>
                                <button class="btn btn-default call">Phone patient</button>
                                <button class="btn btn-default call resolveTriage" data-cid="{{ consultation.id }}">Triage resolved</button>
                            </div>

                            <div class="bg-success" id="droneDeployedNote{{ consultation.id }}" style="display:none; position: absolute;top: 313px;left: 61px;width: 341px;padding: 5px;">Drone is being prepared for deployment, and prescription is on the way</div>
                            <div class="bg-danger" id="droneDeployedNote{{ consultation.id }}Failed" style="display:none; position: absolute;top: 313px;left: 61px;width: 341px;padding: 5px;">There was a failure sending the notification to the warehouse, please try again.</div>

                            <a type="button" data-toggle="modal" data-target="#modal{{ consultation.id }}" class="expand"><i class="fa fa-expand"></i><span>Full screen</span></a>

                            <a href="{{ path('doctor_patient_search') }}?q={{ consultation.account.lastName }}" class="patientSearch">Patient Health Observations</a>

                            <img  data-toggle="modal" data-target="#modal{{ consultation.id }}"  class="uploadImage" src="/uploads/{{ consultation.imageId }}.jpg" />

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{ consultation.id }}" href="#collapseTwo{{ consultation.id }}">Symptom: {{ consultation.symptom }}</a>
                        </h4>
                    </div>
                    <div id="collapseTwo{{ consultation.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>This rash has been looked at by Watson AI, and seems as discribed by the patient.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{ consultation.id }}" href="#collapseThree{{ consultation.id }}">Date details: First noticed: {{ consultation.firstNoticedAt|date('d M Y') }}</a>
                        </h4>
                    </div>
                    <div id="collapseThree{{ consultation.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>The patient has had good health over the last year with 2 admissions and 220 observations of healthy living.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
