
<!-- Modal -->
<div class="modal fade" id="modal{{ consultation.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ consultation.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel{{ consultation.id }}">Modal title {{ consultation.id }}</h4>
            </div>
            <div class="modal-body">
                <img class="uploadImageLarge" src="/uploads/{{ consultation.imageId }}.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>