
<!-- Modal -->
<div class="modal fade" id="modalDelivery{{ consultation.id }}" tabindex="-1" role="dialog" aria-labelledby="deliveryModalLabel{{ consultation.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deliveryModalLabel{{ consultation.id }}">Drone Delivery to {{ consultation.account.fullName }}</h4>
            </div>
            <div class="modal-body">
                <form class="deployDroneForm">
                    <div class="form-group">
                        <label for="deliveryItem{{ consultation.id }}">Item to deliver</label>

                        <select class="form-control" name="medication">
                            <option value="Papulosquamous rash ointment">Papulosquamous rash ointment</option>
                            <option value="Eczematous rash ointment">Eczematous rash ointment</option>
                            <option value="Papular rash ointment">Papular rash ointment</option>
                            <option value="Pustular rash ointment">Pustular rash ointment</option>
                            <option value="Vesiculobullous rash ointment">Vesiculobullous rash ointment</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="deliveryLabel" for="deliveryLatitude{{ consultation.id }}">Latitude</label>
                        <input type="text" name="latitude" id="deliveryLatitude{{ consultation.id }}" value="{{ consultation.account.latitude }}" />
                    </div>
                    <div class="form-group">
                        <label class="deliveryLabel" for="deliveryLongitude{{ consultation.id }}">Longitude</label>
                        <input type="text" name="longitude" id="deliveryLongitude{{ consultation.id }}" value="{{ consultation.account.longitude }}" />
                    </div>
                    <input type="hidden" name="account_id" id="deliveryAccountId{{ consultation.id }}" value="{{ consultation.account.id }}" />
                    <input type="hidden" name="consultation_id" class="consultationId" value="{{ consultation.id }}" />
                    <button type="button" id="droneDeliveryButton{{ consultation.id }}" class="btn btn-primary droneDeliveryButton" data-dismiss="modal">Deliver via Drone</button>
                </form>

                <div class="deliveryMap" id="map{{ consultation.id }}"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>

<script>

    function initMap{{ consultation.id }}() {
        var uluru = {lat: {{ consultation.account.latitude }}, lng: {{ consultation.account.longitude }}};
        var map, infoWindow, watchId, oldPos;
        map = new google.maps.Map(document.getElementById('map{{ consultation.id }}'), {
            zoom: 16,
            center: uluru
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: '{{ consultation.account.fullName }}'
        });

    }

</script>